.wlcm{
    position: relative;
    background-image: url('../images/image2.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 0%;
}





/* header */
.navbar{
    display: flex;
    flex-direction: row;
    top: 0px;
    margin-left: 4%;
    margin-right: 4%;
    position: static;
    justify-content: space-between;
}
.logo{
    color: #fff; 
    margin: 2%;
    margin-left: 4%;
    padding: 0%;
    font-size: 26px;
    font-weight: 800;
    font-family: 'Inter';
}
.navlinks {
    list-style-type: none; 
    padding: 0;
    margin: 2%;
    margin-top: 2.4%;
    display: flex; 
    color: #fff;
    justify-content: space-between;
}
.navlink {
    font-family: 'Inter';
    margin-right: 20px; 
    color: #fff; 
    font-weight: 400;
    font-size: 16px;
    position: relative;
}
.navlink:hover {
    border: 2px solid #D4AF73;
}
.gitbutton{
    margin: 1.5%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 16px;
    background-color: #D4AF73;
    color: #343434;
    font-weight: 600;
    font-family: 'Inter';
    align-items: flex-end;
    border: 0;
}







/* welcome sectn */
.wlcmp{
    background-color: #343434b1;
    margin: 0%;
    padding: 0%;
    text-align: left;
}
.welc{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.welcomehp{
    width: 60%;
    padding: 16%;
}
.headerw{
    font-family: 'Alegreya';
    color: #D4AF73;
    margin: 0%;
    padding: 0%;
    font-weight: 700;
    font-size: 62px;
}
.pwlcm{
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}
.imgwel{
    float: inline-end;
}
.imagelgx{
    width: 26%;
    float: right;
    margin-left: 0%;
    margin-top: 78%;
    margin-right: 0%;
    padding-right: 0%;
    padding: 0%;
}
.gitbuttonw{
    margin: 0.8%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 13px;
    background-color: #D4AF73;
    color: #343434;
    font-weight: 600;
    align-items: flex-end;
    border: 0;
}
.imgwa{
    justify-content: center;
}
.imagelgwa{
    width: 8%;
    position: absolute;
    margin-top: -7%;
    margin-left: 70%;
    margin-right: 0%;
    padding-right: 0%;
    padding: 0%;
}







/* footer */
.footer{
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    position: static;
    border: 1px solid #f84e4e;
}
.logof{
    color: #fff; 
    margin: 2%;
    margin-left: 4%;
    padding: 0%;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Inter';
}
.navlinksf {
    list-style-type: none; 
    padding: 0;
    margin: 2%;
    margin-top: 2.3%;
    display: flex; 
    color: #fff;
    border: 1px solid #f84e4e;
}
.navlinkf {
    font-family: 'Inter';
    margin-right: 35px; 
    color: #fff; 
    font-weight: 400;
    font-size: 17px;
}
