 


.contactus {
    margin: 0%;
    padding: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f84e4e;
}
.contct{
    margin: 0%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #f84e4e;
}
.textp{
    margin: 0%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f84e4e;
}
.imagelg{
    margin: 2%;
    padding: 4%;
    width: 10%;
    height: 10%;
    border: 1px solid #f84e4e;
}



.contactform{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}
.formgrp{
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}

.imagemap{
    margin: 2%;
    padding: 4%;
    width: 10%;
    height: 10%;
    border: 1px solid #f84e4e;
}




